body {
  background-color: #eeedea;
  font-family: "Raleway";
  color: #0e1914;
}
a {
  text-decoration: none;
}
h2{
  font-size: 54px;
  font-weight: bold;
}
.container-fluid {
  padding: 0 38px;
}
.cat-nav {
  height: 101px;
  background-color: transparent;
  padding: 0;
}
.logo-img {
  width: 122px;
  height: 53px;
}
.cat-ul {
  text-align: end;
  align-items: flex-end;
}
.active {
  font-weight: 700;
}
.nav-text {
  font-size: 20px;
  margin-right: 70px;
}
.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 28px;
}
.nav-icon:last-child {
  margin-right: 0;
}
#navbarToggleExternalContent {
  justify-content: flex-end;
  font-family: "Libre Baskerville", serif;
}
.v-container {
  margin-top: calc(100vh - 50vh);
}
.v-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.title-container {
  padding-top: 120px;
}
.main-title {
  font-size: 140px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  font-family: "Libre Baskerville", serif;;
}
.h1-start {
  font-size: 24px;
  font-weight: 400;
  margin-left: 8px;
}
.h1-mid {
  font-size: 80px;
}
.h1-end {
  margin-left: 78px;
}
.shop-btn {
  margin-top: 168px;
  width: 288px;
  height: 146px;
  background-color: #d68708;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.btn-one{
  padding: 56px 0;
}
.arrow-one{
  width: 40px;
  height: 40px;
}
.shop-text {
  color: #eeedea;
  font-size: 30px;
  font-weight: bold;
  margin: 0 16px 0 0;
}
.img-hero {
  margin-top: -35px;
}
.watch-tips {
  width: 100%;
  height: 100vh;
  background-image: url("./img/BACKGROUND-CAT.png");
}
.watch-tips-container {
  justify-content: end;
}
.watch-tips-title {
  margin: 60vh 0 0 24px;
  font-size: 32px;
  font-family: "Libre Baskerville", serif;
  color: #eeedea;
}
.watch-tips-btn {
  margin: 38px 0 0 24px;
  width: 343px;
  height: 64px;
  background-color: #aab5a663;
  text-align: center;
  border-radius: 10px;
}
.watch-tips-text {
  color: #eeedea;
  font-size: 24px;
  font-weight: bold;
  margin: 0 16px 0 0;
}
.btn-two{
  padding: 16px 0;
}
.arrow-two{
  width: 18px;
  height: 18px;
}
.how-we-work{
  margin-top: 248px;
  margin-left: 115px;
}
.how-we-work-p{
  margin-top: 50px;
}
.p-services{
  margin-top: 38px;
}
.how-we-work h3{
  font-size: 36px;
  font-weight: bold;
  margin-top: 80px;
}
.how-we-work a{
  text-decoration: none;
  font-weight: bold;
  color:  #0e1914;
}
.wool-balls-container{
  margin-top: 350px;
}
.delivery{
  margin: 0 35px 9px 0;
  width: 76px;
  height: 74px;
}
.phone{
  margin: 0 35px 12px 0;
  width: 73px;
  height: 73px;
}
.footer{
  width: 100%;
}
.footer-row-one{
  margin-bottom: 62px;
}
.container-footer {
  padding: 0 38px 0 0;
  width: 100%;
}
.stay-in-touch{
  margin: 350px 0 0 -50px;
}
.footer-p{
  margin: 16px 0;
}
input{
  border-radius: 8px;
  border: none;
}
.input-text{
  background-color: #aab5a673;
  color: #0e1914;
  margin: 0 14px 0 0;
  font-size: 14px;
  padding: 16px 24px;
}
.input-submit{
  background-color: #d68708;
  color: #eeedea;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 24px;
}
.footer-a-text{
  color: #0e1914;
  margin: 62px 0 0 0;
  font-size: 20px;
  font-weight: 700;
}
.bottom{
  margin-top: -267px;
}
.copy{
  margin-top: 220px;
}
.copy-img{
  margin-right: 8px;
}
.copy-text{
  margin: 0 400px 0 0;
}

/* Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  h2{
    font-size: 48px;
  }
  .main-title {
    font-size: 100px;
  }
  .h1-start {
    font-size: 20px;
    margin-left: 8px;
  }
  .h1-mid {
    font-size: 40px;
  }
  .h1-end {
    margin-left: 50px;
  }
  .shop-btn {
    width: 240px;
    height: 120px;
  }
  .btn-one{
    padding: 44px 0;
  }
  .arrow-one{
    width: 30px;
    height: 30px;
  }
  .shop-text {
    font-size: 24px;
  }
  .img-hero {
    margin-top: 0px;
  }
  .watch-tips {
    background-position: center;
    background-size: cover;
  }
  .watch-tips-title {
    margin: 55vh 0 0 16px;
    font-size: 24px;
  }
  .watch-tips-text {
    font-size: 20px;
  }
  .how-we-work{
    margin-top: 232px;
    margin-left: 80px;
  }
  .how-we-work-p{
    margin-top: 50px;
  }
  .p-services{
    margin-top: 38px;
  }
  .how-we-work h3{
    font-size: 32px;
    margin-top: 70px;
  }
  .footer-row-one{
    margin-bottom: 40px;
  }
  .stay-in-touch{
    margin: 250px 0 0 -50px;
  }
  .footer-a-text{
    margin: 52px 0 0 0;
    font-size: 16px;
  }
  .bottom{
    margin-top: -167px;
  }
  .copy-text{
    margin: 0 150px 0 0;
  }
}

/* Mobile */
@media only screen and (max-width: 1024px) {
  .nav-text {
    margin-right: 0;
  }
  .nav-icon {
    margin-right: 0;
  }
  .watch-tips {
    background-position: center;
  }
  .services{
    flex-direction: column;
  }
  .water-mark{
    display: none;
  }
  h2{
    font-size: 38px;
  }
  .title-container {
   width: 100%;
  }
  .main-title {
    font-size: 62px;
    line-height: 1;
  }
  .h1-start {
    font-size: 16px;
    margin-left: 6px;
  }
  .h1-mid {
    font-size: 32px;
  }
  .h1-end {
    margin-left: 42px;
  }
  .img-hero {
    display: none;
  }
}